<head>
    <style>
        .navbar {
          padding: 1rem;
          background-color: #212529;
        }
        
        .navbar-item {
          color: white;
          padding: 0;
          cursor: pointer;
          font-size: 1.5rem;
        }
    </style>
</head>


<header class="navbar">
    <p class="navbar-item">Todo list</p>
</header>
