@using Document.BusinessLogic.Models
@model Document.BusinessLogic.Models.ToDoDirectoryPdfModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Todo list</title>
    <style>
        body {
            background-color: whitesmoke;
        }

        .container {
            padding-left: 1rem;
            font-size: 1.3rem;
        }

        .note {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
        
        input {
            margin: 0 10px 0 0;
        }

        p {
            margin: 0;
        }
    </style>
</head>
<body>
@await Html.PartialAsync("~/Views/_Header.cshtml")
<div class="container">
    <h3>@Model.Name</h3>

    @foreach (ToDoDirectoryPdfNoteModel note in Model.ToDoNotes)
    {
        <div class="note">
            @Html.CheckBox("IsCompleted", note.IsCompleted)
            <p>@note.Note</p>
        </div>
    }
</div>
</body>
</html>