<div class="notes-container">
  <div class="notes-list card-body">
    <div class="header">
      <h5>Notes</h5>
      <button class="btn btn-dark" (click)="addNote()">
        <i class="bi bi-plus"></i>
      </button>
    </div>
    <ng-container *ngFor="let note of toDoNotes">
      <div class="note">
        <input type="checkbox" class="checkbox form-check-input" [ngClass]="{'hidden': note.isEditing}"
               [(ngModel)]="note.isCompleted" (ngModelChange)="completionStatusChange(note)">

        <ng-container *ngIf="!note.isEditing; else isEditing">
          <label class="note-title form-check-label">
            {{note.note}}
          </label>
        </ng-container>
        <ng-template #isEditing>
          <div class="editing-wrapper">
            <div class="input-wrapper">
              <textarea class="form-control" type="text" [(ngModel)]="note.note" (keyup.enter)="saveNote(note)"></textarea>
              <button class="btn btn-danger" (click)="cancelEditing(note)">
                <i class="bi bi-x"></i>
              </button>
            </div>
            <small>Enter to submit</small>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>
