.notes-container {
  display: flex;
  flex-direction: column;

  & .actions {
    display: flex;
    gap: 10px;
  }

  & .header {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    align-items: center;

    & h5 {
      margin: 0;
    }
  }
}

.notes-list {
  margin-left: 1rem;
}

.note {
  display: grid;
  grid-template-columns: 1rem 1fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;

  .checkbox {
    margin: 0;
  }

  & .editing-wrapper {
    display: flex;
    flex-direction: column;

    & .input-wrapper {
      display: flex;
      gap: 10px;

      & .btn.btn-danger {
        align-self: flex-start;
      }
    }

    & small {
      margin-top: 1px;
      font-size: .6rem;
      color: black;
    }
  }
}

.hidden {
  display: none;
}
