/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~angular-notifier/styles.css";

body {
  background-color: whitesmoke !important;
  height: 100vh !important;
}

a {
  text-decoration: none;
}

.form-container {
  height: 100vh;

  .form {
    width: 25rem;
    margin: 8rem auto auto;

    & .form-group {
      margin-bottom: 1rem;
    }
  }
}
